body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
}

h2 {
    text-align: center;
}

.input-group {
    margin-bottom: 10px;
}
input[type="text"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #01060c;
    color: #fff;
    cursor: pointer;
}

#result {
    margin-top: 30px;
    color: #209c35;
    font-family: Arial, sans-serif;
}
